<div class="row">
    <div class="card text-center {{!isDone ?'bg-warning': 'bg-success'}}">
        <div class="card-body">
        <h5 class="card-title">{{ task }}</h5>
        <p class="card-subtitle mb-2 text-body-secondary">{{ description }}</p>
        <button class="btn btn-danger mt-4" (click)="doDelete()">Delete</button>
        <button class="btn btn-primary mt-4" (click)="doUpdate()">Update</button>
        <button class="btn btn-primary mt-4" (click)="toggleDone()">{{!isDone ? "Done ✔️": "notDone ❌"}}</button>
    </div>
</div>