<div class="container-sm mt-4"> 
      <h4>Task Manager</h4>
    <h6 class="fst-italic" class="text-muted">Simplify Your To-Do, Amplify Your Day.</h6>
<form class="mt-4" [formGroup]="form" (ngSubmit)="registerTask()">
  <div class="row  mt-4 form-floating">
    <input type="text" formControlName="task" class="form-control" id="FloatingTask" placeholder="Title">
    <label for="FloatingTask">Tittle</label>
  </div>
  @if (task.errors && (task.touched || task.dirty)) {
    <div class="row">
      <p class="text-danger">Title must be at least 3 characters long.</p>
    </div>
  }
  <div class="row mt-4 form-floating">
    <input type="textarea" formControlName="description" class="form-control" placeholder="Leave a comment here" id="floatingDescription">
    <label for="floatingDescription" >Description</label>
  </div>
  @if (description.errors && (description.touched || description.dirty)) {
    <div class="row">
      <p class="text-danger">Description must be at least 10 characters long.</p>
    </div>
  }
  <input type="submit" [disabled]="form.invalid"  value="{{taskIdToUpdate !== null ?'Save': 'Add Task'}}" class="btn btn-success mt-4">
</form>

<div class="container-sm mt-4 row">
  @if (activity.length == 0){
    <p class="text-primary">Task list is empty</p>
  } @else {
    @for (task of activity; track $index) {
      <app-card [id]="$index" [task]="task.task" [description]="task.description" (doClick)="removeTask($event)" (handleDoneEvent)="updateDone($event)" (updateEvent)="updateTask($event)"></app-card>
    }
  }
</div>
</div>